#about
	.wrapper
		%h2 ABOUT PAMPERED UP
		%br/
		%p We are still in our beta phase as we plan to lauch the product in 2017 in our initial service area around Los Angeles and San Diego in Souther California. We have been working hard on building out the infrastructure to make sure that we are able to offer a safe and secure solution for both our clients as well as our vendors that make your relationship with Pampered Up seamless.
		%br/
		%p We believe that getting access to incredible services like in home massages and private chefs doesn't have to be limited to the super wealthy. We all need to get a little bit of pampering, and by taking advantage of the sharing economy, Pampered Up helps people trying to grow their local businesses while also getting people access to amazing service at a fair price.
		%br/
		%p PamperedUp was created with a mission to connect people that are looking to get access to things that might have traditionally been out of reach right at their fingertips. Getting access to things like private in home gourment dining or having a private masseur show up at your office might have been unthinkable in the past, but with Pampered Up, we try to expand that access to as many of us as possible.
		%br/
		%p From my personal experience, I never thought I would ever be able to have a privatemassage therapist until I signed up for one of those monthly packages where I was able to get services on a regular basis for a reasonable cost. I then though, what vaule add am I really gettin g from this building or the company that employes these guys, and that we'd all be happier if I could just book them directly to come to my home when they are free. That was the foundation of the idea and now working to put it into practice. We always welcome good feedback, so if there is anything we can do that will make your experience more enjoyable, please let us know.
		%br/
		%p Seth Merritt
		%p PamperedUp
		%p Founder | CEO	


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');