.wrapper
#about
	.wrapper
		%h2 Hey this is the about section
		%p Thanks so much for coming to check out our latest project. Please forgive us as we are building the airplane as we are already in flight, so you might run into little bugs here and there as we work to improve our user experience. PamperedUp start from a very simple philosophy, that everyone deserves to get a little pampering and we want to help make that real for as many people as possible. Our driving mission here is that we believe that getting access to incredible services like in-home massages and private chefs doesn't have to be limited to the super wealthy and like every other market, there should be offerings from the relatively inexpensive all they way up to the obscenely decadent. We all need to get a little bit of pampering, and by taking advantage of the sharing that has grown over the past several years with services like Uber, AirBnB and Fiverr, Pampered Up helps people trying to grow their local businesses while also getting people access to amazing services at a fair price.

		%p PamperedUp was created with a mission to connect people that are looking to get access to things that might have traditionally been out of reach right at their fingertips. Getting access to things like private in home gourment dining or having a private masseur show up at your office might have been unthinkable in the past, but with Pampered Up, we try to expand that access to as many of us as possible. From my personal experience, I never thought I would be able to have a private massage therapist until I signed up for one of those monthly membership packages where I was able to get services on a regular basis for a reasonable cost. I was blown away and was able to get access to something that I previously believed to be simply unattainable. I then though, what vaule add am I really getting from this building or the company that employs these therapists, and thought that we'd all actually be happier if I could just book them directly to come to my home when mutually convenient. That simple concept was the foundation of the idea that has grown into PamperedUp, and we are now working to put it into practice. We always welcome good feedback, so if there is anything we can do that will make your experience more enjoyable, please let us know.

		%p As mentioned above, this is a work in progress and the goal now is to create a functional product that works for both our clients and our vendors in a safe, secure and simple way. With those key goals in mind, we set out to build the platform to prove that there is the interest on both sides as we continue to work with an incredibly small budget. We are still in our beta phase and we have begun the work for a full pilot product lauch in 2017 for our initial service area around Los Angeles and San Diego in Southern California. We have been working hard on building out the infrastructure to make sure that we are able to offer a safe and secure solution for both our clients as well as our vendors that make your relationship with Pampered Up seamless.
#how.container-fluid.text-center
	.wrapper
		%h2 HOW IT WORKS
		%br
		.col-sm-3
			= image_tag "search.jpg", class: "img-rounded"
			%h3 Search
			%p Our search algorithm naturally checks for vendors around your current location, or you can select another zip code if you are looking to book somwhere else. You can filter your results for just the right vendor.	
		.col-sm-3
			= image_tag "compare.jpg", class: "img-rounded"
			%h3 Compare
			%p We ask all of our clients who have gotten services from one of our vendors to rate them after each appointment to make sure they've gotten 5 star service every time. All of our reviews are verified from actual clients who have used our service.	
		.col-sm-3
			= image_tag "buy.jpg", class: "img-rounded"
			%h3 Book
			%p No need to share any financial or personal information to get your appointment booked. All of the information can be exchanged directly through our platform so that payment and personal information stays in your control and secure.	
		.col-sm-3
			= image_tag "win.jpg", class: "img-rounded"
			%h3 Enjoy!
			%p We want you to have an amazing experience, so we take every measure to ensure satisfaction and if you are not satisfied then we will guarentee your money back.	
							

#points.container-fluid.text-center				
	.wrapper
		.col-sm-4
			%i.fa.fa-usd
			%h1 Payment
			%p We know you don't want to share your personal or financial information with freelancers (or with us for that matter!), so we make it super easy for you. We've partnered with Stripe is a third party source to take al payment information securely. We will hold a booking fee until after services are rendered. 
		.col-sm-4
			%i.fa.fa-mouse-pointer
			%h1 Booking
			%p Booking is super simple. You just search for vendor the you want to book and you can make the request and hold the spot and we will facilitate all of the schedulng. ou can always send a direct message to talk to your vendor about specific requests without having to share any of your personal information.
		.col-sm-4
			%i.fa.fa-ban
			%h1 Cancellations
			%p We understand that thin gs happen and there is no fee if you need to cancel an appointment. We ask that you give us a reasonable notice so our professionals can make other accomodation and the final payment will not be taken until the day of your appointment after services are completed.	


#contact
	.wrapper
		.container-fluid.bg-grey
			%h2.text-center CONTACT
			.row
				.col-sm-5
					%p Contact us and we'll get back to you within 24 hours.
					%p
						%span.glyphicon.glyphicon-map-marker
						San Diego, CA, US
					%p
						%span.glyphicon.glyphicon-phone
						(415) 555-1212
					%p
						%span.glyphicon.glyphicon-envelope
						admin@pamperedup.com
				.col-sm-7
					.row
						.col-sm-6.form-group
							%input#name.form-control{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
						.col-sm-6.form-group
							%input#email.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
					%textarea#comments.form-control{:name => "comments", :placeholder => "Comment", :rows => "5"}
					%br/
					.row
						.col-sm-12.form-group
							%button.btn.btn-default.pull-right{:type => "submit"} Send	


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');