#about_vendors
	.wrapper
		%h2 WHAT SERVICES CAN I GET?

		%p PamperedUp works with all sorts of vendors to help make you feel like the royalty you deserve to be. Whether that means hiring a private chef for an amazing dinner with your family, having one of our professional masseurs meet you after a hard day of work, or bringing a personal stylist to give you an amazing cut or color, you will love our service.
		%br
		%p Our vendors are some of the most sought after professionals in their field and are able to work independently to meet your needs. By keeping our pricing and scheduling flexible, they are able to take as many or as few appointments as their schedules allow for. 


#about_billing
	.wrapper
		%h2 HOW DOES PAYMENT WORK

		%p We know that no one wants to share financial information with strangers, so we make the billing process super easy. We have partnered with Stripe, one of the leading partners in online payments. No one sees your credit card information, not even us and your payments are 100% secure.
		%br
		%p PamperedUp will take your payment for services, so you never need to exchange any money or information with your service professional. You can even put your tips directly through our service. We take a booking fee as part of your total payment to the vendor and we only collect payments when your service is performed.



#about_cancellations
	.wrapper
		%h2 WHAT IF I HAVE TO CANCEL

		%p We know that things come up and cancellations happen. Your money will be refunded 100% if you cancel within 24 hours of your appointment. If you have to cancel with shorter notice, your professional might request a 10% payment for a no show since they had to clear their calendar.


#about_offer_services
	.wrapper
		%h2 INTERESTED IN JOINING US?

		%p Want to offer your services on PamperedUp to help grow your client base? We would love to have you!
		%br
		= link_to "Offer Services", welcome_vendors_path, class: "button"


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');