#about
	.wrapper
		%h2 ABOUT PAMPERED UP
		%br/
		%p We are still in our beta phase as we lauch the product in 2017 in select markets.  Our current launch plans have us starting in San Diego, CA and Chicago, IL
		%br/
		%p We believe that you should have the ability to find the perfect training partner for yourself in realtime.  Whether that be a personal yoga lesson, tips on weight training or just someone to help keep your form just perfect.  Depending on your specific needs you can pick from licensed instructors, local fitness professionals, or simple enthusiasts who might have tips and tricks to get you to the next level of fitness.
		%br/
		%p PamperedUp was created to help people meet their fitness goals without all the hassle and headaches normally associated with getting hands on support.  Without the heavy cost or committments of signing up with a personal trainer, Fitchike lets you pick from thousands of local support teams to help you meet your fitness goals.

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');