#faq
	.wrapper
		.questions
			%h2 Frequently Asked Questions
			
			%h3 FOR CLIENTS
			%br/

			%q Is there a charge to use PamperedUp?
			%br/
			%p The price listed is the price that you pay without any additional charges.  PamperedUp takes a small administrative fee for the transaction to cover our costs that comes out of the final fees paid to the vendor. When you book your appointment, you will see the charge that PamperedUp is taking from the total cost.
			%br/
			%br/
			%q Is it safe to submit my payments?
			%br/
			%p PamperedUp uses a third party company called Stripe that handles all of our financial transactions.  PamperedUp never even sees your credit card information and all of the transactions are sent encrypted directly from your account. You can check out more information about Stripe at www.stripe.com.
			%br/
			%br/
			%q What if I don't like my service?
			%br/
			%p One of the benefits of working in a public space is that you get the benefit of reading reviews of your peers and all of that information is reflected in our vendor profiles. If you are not 100% satisfied with your service, PamperedUp will work with the vendor to resolve any disputes timely and we will guarentee your hapiness or your money back.	

			%h3 FOR VENDORS
			%br/

			%q How Do I Sign Up?
			%br/
			%p There is no charge to sign up for PamperedUp and you simply need to create an account through the SignUp link. Under the YOUR ACCOUNT link there is a link to 'OFFER SERVICES'. Simply click on the link, create your vendor profile and start listing the services you would like to offer. Once clients want to purchase your services, you will get a notification. 
			%br/
			%br/
			%q How Do You Make Money?
			%br/
			%p Clearly there are costs to managing so many transactions, but we believe the real value is in those vendors performing amazing services for our clients. We simply take a small transaction fee to help us cover the costs of the marketing, bank fees, platform development, etc. but we only take a fee for services booked.


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
