#faq
	.wrapper
		.questions
			%h2 FAQ
			%p USERS
			%q Is there a charge to use PamperedUp?
			%br/
			%a The price listed is the price that you pay without any additional charges.  Fitchike takes a small administrative fee for the transaction to cover our costs.
			%br/
			%br/
			%q Is it safe to submit my payments?
			%br/
			%a PamperedUp uses a third party company called Stripe that handles all of our financial transactions.  PamperedUp never even sees your credit card information.
			%br/
			%br/
			%q Is there a charge to use PamperedUp?
			%br/
			%a The price listed is the price that you pay without any additional charges.  PamperedUp takes a small administrative fee for the transaction to cover our costs.					

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
