#faq
	.wrapper
		.questions
			%h2 FAQ
			%p USERS
			%q Is there a charge to use PamperedUp?
			%br/
			%a The price listed is the price that you pay without any additional charges.  Fitchike takes a small administrative fee for the transaction to cover our costs.
			%br/
			%br/
			%q Is it safe to submit my payments?
			%br/
			%a PamperedUp uses a third party company called Stripe that handles all of our financial transactions.  PamperedUp never even sees your credit card information.
			%br/
			%br/
			%q Is there a charge to use PamperedUp?
			%br/
			%a The price listed is the price that you pay without any additional charges.  PamperedUp takes a small administrative fee for the transaction to cover our costs.					


