#membership_header
	.wrapper
		.row
			%h2 WANT TO BE PAMPERED?
			%p Wouldn't it be amazing if you could get licensed massage therapists to come to you for an amazing spa level service offering?
		.row
			.col-sm-4.col-sm-offset-4
				= image_tag "pampered_center.png"

#membership_callouts
	.wrapper
		.row
			.col-sm-4
				%i.fa.fa-mobile
				%h2 Easy Booking
				%p Book appointments right from your phone

			.col-sm-4
				%i.fa.fa-users
				%h2 More choices
				%p Stay consistent or mix it up each month

			.col-sm-4
				%i.fa.fa-unlock-alt
				%h2 No committment
				%p No annual contract or any restrictions
		.row
			.col-md-8.col-md-offset-2
			= link_to "Become A Member", membership_vendors_path, class: "button"	

#membership_options
	.wrapper
		.row
			%h2 Two easy membership Options
		.row
			.col-sm-6
				%i.fa.fa-mars
				%h3 $99/month
				%h4 1 in home massage per month

			.col-sm-6
				%i.fa.fa-mars-double
				%h3 $175/month
				%h4 2 in home massages per month


#welcome_contact.container-fluid
	.wrapper
		.row
			%link{:href => "//cdn-images.mailchimp.com/embedcode/classic-10_7.css", :rel => "stylesheet", :type => "text/css"}/
			:css
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

			#mc_embed_signup
				%form#mc-embedded-subscribe-form.validate{:action => "//pamperedup.us12.list-manage.com/subscribe/post?u=fd9fd116c23d75e6992fb7233&id=c9890c302f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
					#mc_embed_signup_scroll
						%h2 Learn More About Membership
						.indicates-required
							%span.asterisk *
							indicates required
						.mc-field-group
							%label{:for => "mce-EMAIL"}
								Email Address
								%span.asterisk *
							%input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
						.mc-field-group
							%label{:for => "mce-FNAME"} First Name
							%input#mce-FNAME{:name => "FNAME", :type => "text", :value => ""}/
						.mc-field-group
							%label{:for => "mce-ZIP"}
								Zip
								%span.asterisk *
							%input#mce-ZIP.required{:name => "ZIP", :type => "text", :value => ""}/
						#mce-responses.clear
							#mce-error-response.response{:style => "display:none"}
							#mce-success-response.response{:style => "display:none"}

						%div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
							%input{:name => "b_fd9fd116c23d75e6992fb7233_c9890c302f", :tabindex => "-1", :type => "text", :value => ""}/
						.clear
							%input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
					%script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}

:javascript
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='ZIP';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);



:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');

:javascript
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='NAME';ftypes[3]='text';fnames[4]='ID';ftypes[4]='number';}(jQuery));var $mcj = jQuery.noConflict(true);

/ Facebook Pixel Code
:javascript
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '580725838769524'); 
	fbq('track', 'PageView');
	fbq('track', 'Lead');

%noscript
	%img{:height => "1", :src => "https://www.facebook.com/tr?id=580725838769524&ev=PageView\n&noscript=1", :width => "1"}/
/ End Facebook Pixel Code

