.chardinjs-show-element {
  background-color: white;
  & > .filterrific_spinner {
    display: inline-block !important;
    padding: 0 5px;
  }
}

.chardin_box {
  display: inline-block;
  width: 100%;
  padding: 0 3px;

  .form-control {
  	height: 40px;
  }
  .row {
  	vertical-align: middle;
  }
}