#booking {

  .row {
    padding: 20px;
    border-bottom: 3px solid $purple;
  }
	img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: auto;
    padding: 3px;
    vertical-align: middle;
  } 

  h2 {
  	@include bold_font;
  	font-size: 2.5em;
  	text-decoration: none;
  	margin: 0;
	  text-align: center;
  	padding: 5px 5px;
  	color: $purple;
  }


  button, .button {
    display: block;
    width: 100%;
    position: absolute;
    top: 27px;
  }

  li {
    font-size: 14px;
    color: $dk_purple;
    padding: 5px;
  }

  .btn {
    margin: auto;
    align-items: center;
    width: 75%;
    padding: 7px;
  }

}