#booking {
  padding-bottom: 20%;

	img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: auto;
    padding: 3px;
    vertical-align: middle;
  } 

  h2 {
  	@include bold_font;
  	font-size: 2.5em;
  	text-decoration: none;
  	margin: 0;
	  text-align: center;
  	padding: 5px 5px;
  	color: $purple;
  }


  button, .button {
    padding: 1rem 3.5rem;
    display: block;
    width: 100%;
    }

}