#devise {
	img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: auto;
    padding: 3px;
    vertical-align: middle;
    border: 2px solid $purple; 
  } 

  h2 {
  	@include bold_font;
  	font-size: 2.5em;
  	text-decoration: none;
  	margin: 0;
	  text-align: center;
  	padding: 5px 5px;
  	color: $purple;
  }

  h3 {
  	@include bold_font;
  	font-size: 1.5em;
  	margin: 0;
	  text-align: center;
  	padding: 10px;
  	color: $gold;
  }

  .row {
  	border-bottom: 2px solid $purple; 
  	padding: 5px;
  }

  button, .button {
    padding: 1rem 3.5rem;
    display: block;
    width: 100%;
    border: 2px solid $gold;
    }

  button, .button:hover {
    color: $purple;
    background-color: white;
    border: 2px solid $purple;
    border-color: $purple;
  }
}