h2 {
	@include bold_font;
	color: $purple;
	font-size: 3.0em;
	margin-bottom: 15px;
	text-align: center;
}

p {
	font-size: 1.75rem;
}

i {

}

#banner {
	background-image: image-url('welcome_banner_image.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 400px;
	display: table;

	button, .button {
		@include bold_font;
		padding: 1rem 3.5rem;
		margin-top: .5rem;
		display: block;
		width: 100%;
    font-size: 18px;
    text-align: center;
		border: 2px solid $gold;
		border-radius: .35rem;
		}

	button, .button:hover {
  	color: $purple;
  	background-color: white;
  	border: 2px solid $purple;
  	border-color: $purple;
	}

	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		img {
			max-width: 100%;
			height: auto; 
			display: block;
			margin: auto;
			padding-top: 40px;
			padding-left: 25px;
			padding-right: 25px;
		}
		
		h1 {
			@include bold_font;
			color: white;
			font-size: 3.5rem;
			margin: 0;
		}

		a {
			color: white;
			font-size: 1.2rem;
			margin: 0 0 2.5rem 0;
		}
	}
}

#sample {
	text-align: justify;
	font-size: 2.0rem;
	padding: 35px 0px;

	h1 {
		@include bold_font;
		color: $purple;
		font-size: 2.5rem;
		text-align: center;
	} 


	img {
		max-width: 100%;
		height: auto; 
		display: block;
		margin: auto;
		padding: 3px;
		vertical-align: middle;
		border: 2px solid $purple;
	}

	.col {
		padding: 0px 30px;
	}



}

#callouts {
	background-color: $purple;
	text-align: center;
	vertical-align: middle;
	padding: 40px 0px;

	h2 {
		@include bold_font;
		color: white;
		font-size: 2.0em;
		text-align: center;
		margin-bottom: 0;
	}

	i {
		color: $gold;
		font-size: 7.0rem;
		padding: 2.0rem 2.5%;
	}

	p {
		color: $gold;
	}

	a {
    color: white;
	}
}




#welcome_about {
	padding: 35px 0px;

	p {
		font-size: 1.75rem;
	}
}

#welcome_works {

	text-align: center;
	display: block;
    padding: 40px 0px;	

	h3 {
		@include bold_font;
		text-align: center;
		font-size: 3.0rem;
		color: $dk_purple;
		margin: 1px;

	}

	p {
		color: $dk_purple;
	}

	img {
		max-width: 80%;
		height: auto; 
		display: block;
		margin: auto;
		padding: 3px;
		margin-bottom: 10px;
		vertical-align: middle;
		border: 2px solid $purple;
	}

	.row {
		border-top: 1px solid $gold;
		padding-top: 10px;
	}

}


#welcome_highlights {

	background-color: $lt_purple;
	text-align: center;
	padding: 40px 0px;

	h3 {
		font-size: 3.0rem;
		color: $lt_gold;
		@include bold_font
	}

	i {
		color: white;
		font-size: 5.0rem;
		padding: 2.0rem 2.5%;
	}

}

#welcome_contact {
	background-color: $light_gray;
	display: block;
    padding-top: 40px;
}




#about_vendors {
	text-align: center;
	padding: 50px 0px;
	p {
		font-size: 2.0rem;
	}
}


#about_billing {
	background-color: $light_gray;
	text-align: center;
	padding: 50px 0px;
	p {
		font-size: 2.0rem;
	}
}


#about_cancellations {

	padding: 50px 0px;
	text-align: center;
	p {
		font-size: 2.0rem;
	}
}


#about_offer_services {
	background-color: $lt_purple;
	text-align: center;
	padding: 50px 0px;
	p {
		font-size: 2.0rem;
	}
}




#vendor_what {
	text-align: center;
	vertical-align: middle;

	h2 {
		font-size: 4.0rem;
	}

	p {
		color: $dark_gray;
		font-size: 1.2em;
	}

}

#vendor_highlights {
	background-color: $purple;
	text-align: center;

	h2 {
		@include bold_font;
		color: $gold;
		font-size: 2.5em;
	}

	h3 {
		@include bold_font;
		color: white;
		font-size: 1.7em;
	}

	i {
		color: $gold;
		font-size: 5.0rem;
		padding: 2.0rem 2.5%;
	}

	p {
		color: white;
	}

	.row {
		padding-bottom: 35px;
	}

}

#vendor_who {
	text-align: center;
	vertical-align: middle;	

	h2 {
		@include bold_font;
		color: $purple;
		font-size: 2.5em;
		margin-bottom: 10px;
	}

	i {
		font-size: 5.0rem;
		color: $gold;
		padding: 2.0rem 2.5%;
	}

	p {
		color: $dark_gray;
		font-size: 1.5em;
	}

	a {
    color: white;
	}
}			

#vendor_why {
	text-align: center;
	background-color: $purple;

	h2 {
		color: $gold;
	}

	p {
		color: white;
		font-size: 1.2em;
	}

	.quote_header {
		color: $light_gray;
		font-style: italic;
		font-size: 4em;
	}

	.quote {
		color: $light_gray;
		font-size: 1.4em;
		font-style: italic;
		margin: 0 0 .5rem 0;
	}

	.row {
		padding-bottom: 35px;
	}
}

#vendor_how {
	text-align: center;
	vertical-align: middle;

	h2 {
		@include bold_font;
		color: $purple;
		font-size: 2.5em;
		margin-bottom: 10px;
	}

	p {
		color: $dark_gray;
		font-size: 1.2em;
	}

	.row {
		border-top: 6px solid $purple;
	}
		
}


#myCarousel
	/* Carousel base class */
	button, {
		margin-top: 50px;
		min-width: 200px;
		display: inline;
	}

	.carousel {
	  margin-bottom: 30px;
	}

	.carousel .container {
	  position: relative;
	  z-index: 9;
	  .button {
			@include bold_font;
			padding: 1rem 3.5rem;
			margin-top: .5rem;
			display: block;
			width: 100%;
	    font-size: 18px;
	    text-align: center;
			border: 2px solid $lt_purple;
			border-radius: .35rem;	  
		}
	}

	.carousel-control {
	  height: 0px;
	  margin-top: 150px;
	  font-size: 100px;
	  background-color: transparent;
	  border: 0;
	  z-index: 10;
	}

	.carousel .item {
	  height: 500px;
	}
	.carousel img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-width: 100%;
	  height: 500px;
	}

	.carousel-caption {
	  background-color: transparent;
	  position: static;
	  max-width: 650px;
	  padding: 0 100px;
	  margin-top: 200px;
	  margin-bottom: 30px;
	}

	.carousel-caption h1,
	.carousel-caption .lead {
	  margin-bottom: 20px;
	  line-height: 1.25;
	  color: #fff;
	  text-align: left;
	  text-shadow: 0 1px 1px rgba(0,0,0,.4);
	}



	/* RESPONSIVE CSS
	-------------------------------------------------- */

	@media (max-width: 979px) {

	  .carousel .item {
	    height: 500px;
	  }
	  .carousel img {
	    width: auto;
	    height: 500px;
	  }

	}

	@media (max-width: 767px) {

	  .carousel {
	    margin-left: -20px;
	    margin-right: -20px;
	  }
	  .carousel .container {

	  }
		.carousel-control {
		  margin-top: 10px;
		  font-size: 50px;
		}	  
	  .carousel .item {
	    height: 300px;
	  }
	  .carousel img {
	    height: 300px;
	  }
	  .carousel-caption {
	    width: 100%; 
	    padding: 0 30px;
	    margin-top: 30px;
	  }
	  .carousel-caption h1 {
	  	@include bold_font;
	  	text-align: center;
	    font-size: 25px;
	    margin: 100px 5px 0px 5px;
	  }
	  .carousel-caption .lead,
	  .carousel-caption .btn {
	    font-size: 12px;
	  }
	}

#faq {
	text-align: center;
	font-size: 1.5rem;
	padding: 3.5rem 0;
	.questions {
		text-align: center;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			@include bold_font;
			color: $gold;
			margin-bottom: 0;
		}
		q {
			font-size: 2.0rem;
			color: $purple;
		}
		a {
			color: $dark_gray;
		}
	}
}
