%p
  Hey #{@user.username}!

%p Thanks so much for creating an account with PamperedUp, and get ready to be pampered!

%p you will have access to hundreds of services that help you to feel a little less stressed, don't you deserve it?
%p Whether you are looking for a great local chef to host a party for your friends, or an incredible massage therapist to meet you after work 
%p and relax your tight shoulders, you are in the right place! 
%p Our partners are all licensed professionals, and you can count on our service guarentee.
%br
%br

%p You can confirm your account email through the link below:

%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
